.App {
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  background-color: rgb(241, 247, 255);
  font-family: 'Nunito', sans-serif;
  /* background-image: url('../public/images/bg.png');   */

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto 100%;
  gap: 20px;
  margin: 20px 10%;
}

.main div {
  border-radius: 30px;
}

.main .first {
  grid-column: 1/13;
  background-color: white;
  box-shadow: 0 0px 40px -5px rgba(0, 0, 0, 0.101);
  display: flex;
  align-items: center;
  padding: 10px 30px;
  justify-content: space-between;
}

.main .secnde {
  box-shadow: 0 0px 40px -5px rgba(0, 0, 0, 0.101);
  grid-column: 1/4;
  height: auto;
  background-color: white;

}
.card-resp{
  max-height: 42vh;
   max-width: 35vw;
   min-width: 200px;
}
.main .main-display-items {
  grid-column: 1/13;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  justify-content: center;
}

.main .first button {

  border-radius: 30px;

}

.main .first .input-search {
  display: flex;
  align-items: center;
  gap: 30px;

}

.pet-main {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px 10%;
}

.pet-main .pet-images {

  border-radius: 30px;
  height: 100%;
  max-width: 800px;
  background-color: white;
  box-shadow: 0 0px 40px -5px rgba(0, 0, 0, 0.101);
  flex: 2 0 350px;
}

.pet-main .pet-images .main-image {
  flex: 2;
  padding: 20px;
  border-radius: 10px;
  position: relative;
} 
.pet-main .pet-images .main-image :nth-child(1){
  border-radius: 10px;
}
.pet-main .pet-images .main-image .maim-img-pet{
  border-radius: 10px;
  object-fit: contain;
  height: 100%;
  width: 100%;
  z-index: 10;
  position: absolute;
}
.pet-main .pet-images .main-image .back-image{
  border-radius: 20px;
  object-fit: cover;
  height: 100%;
  width: 100%;
  filter:blur(10px);
  z-index: 9;
  position: absolute;
}
.maim-img-pet{
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.pet-main .pet-images .chose-image {
  flex: 1 1;
  overflow: auto;
  display: flex;
  /* grid-template-columns: repeat(5,200px); */
}

.pet-main .pet-images .chose-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;

}

.pet-main .pet-images .chose-image button {
  background-color: transparent;
  border: none;
  height: 100px;
  flex: 0 0 150px;
}

.pet-main .pet-info {
  flex: 1 0 200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pet-main .pet-info .info {
  box-shadow: 0 0px 40px -5px rgba(0, 0, 0, 0.101);
  background-color: white;
  padding: 20px;
  border-radius: 30px;
}

.pet-main .pet-info table {
  flex: 1;
}

.pet-main .pet-info .account {
  box-shadow: 0 0px 40px -5px rgba(0, 0, 0, 0.101);
  background-color: white;
  padding: 20px;
  border-radius: 30px;
}

.pet-main .pet-info tbody tr td:nth-child(2) {
  text-align: end;
}

.pet-main .pet-info tbody tr h4 {
  margin: 8px 0;
}

.but-adobt {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.but-adobt  a{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.but-adobt button {
  border-radius: 30px;
  flex: 1;
  color: white;
  font-weight: bold;
}

.info .but-adobt button {
  background-color: rgb(3, 188, 3);
}

.adoubt-input {
  width: 100%;
}
.adoubt-input button:first-child{
  width: 100%;
 margin: 5px;
 padding: 10px;
 font-size: large;
}
.adoubt-input button:first-child :hover{
  background-color: rgb(1, 113, 1);

}
.formik-dispy{
  margin: 10px 30px;
  color: red;
}
.formik-dispy  .form-inputs{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.form-inputs  .input-lp{
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex:  1 0 300px;
}
.form-inputs  .input-lp input{
  /* flex:  1 0 300px; */
  padding: 10px;
  height: 30px;
  border-radius: 30px;
  background-color: rgb(210, 217, 227);
  border: none;
  outline: 2px solid  rgb(210, 217, 227);
}
.form-inputs .input-lp label{
  color: rgb(255, 170, 0);
  font-weight: bold;
}
.formik-dispy button{
  padding: 15px 0;
  width: 250px;
  border-radius: 50px;
  margin-top: 20px;
  background-color: rgb(255, 170, 0);
  border: none;
  flex: 1 0 200px;
  font-weight: bold;
  font-size: 18px;
}



.dash{
  margin:20px 10%;
}
.dash .display-info{
  display: flex;
  gap: 10px;
}
.dash .display-info > div{
  flex: 1;
  background-color: white;
  box-shadow: 0 0px 40px -5px rgba(0, 0, 0, 0.13);
  display: flex;
  align-items: center;
  padding: 0 30px;
  border-radius: 20px;
}
.dash .display-info .pending,
.dash .display-info .avilble,
.dash .display-info .adopted
{
  gap: 30px;
}
.dash .display-info .pending h4{
  color: orange;
  font-size: 18px;
  font-weight: bold;
}
.dash .display-info .avilble h4{
  color: rgb(25, 188, 144);
  font-size: 18px;
  font-weight: bold;
}
.dash .display-info .adopted h4{
  color: rgb(54, 219, 255);
  font-size: 18px;
  font-weight: bold;
}


.dash .display-info .pending svg{
  width: 24px;
    padding: 14px;
    background: rgba(255, 168, 0, 0.1);
    fill: rgb(255, 168, 0);
    border-radius: 8px;
    display: block;
}

.dash .display-info .avilble svg{
  width: 24px;
  padding: 14px;
  background: rgba(25, 188, 144, 0.1);
  fill: rgb(25, 188, 144);
  border-radius: 8px;
  display: block;
}

.dash .display-info .adopted svg{
  width: 24px;
  padding: 14px;
  background: rgba(54, 219, 255, 0.1);
  fill: rgb(54, 219, 255);
  border-radius: 8px;
  display: block;
}

.tbale-dash-user{
  background-color: white!important;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 0px 40px -5px rgba(0, 0, 0, 0.13);

}
@media screen and (max-width:1000px) {
  .dash .display-info{
    flex-direction: column;
  }
  
}